var tags = ({
    "c0": "movable-view",
    "c1": "cover-image",
    "c2": "cover-view",
    "c3": "movable-area",
    "c4": "scroll-view",
    "c5": "swiper",
    "c6": "swiper-item",
    "c8": "icon",
    "c9": "progress",
    "c10": "rich-text",
    "c11": "text",
    "c12": "button",
    "c13": "checkbox",
    "c14": "checkbox-group",
    "c15": "editor",
    "c16": "form",
    "c17": "input",
    "c18": "label",
    "c19": "picker",
    "c20": "picker-view",
    "c21": "picker-view-column",
    "c22": "radio",
    "c23": "radio-group",
    "c24": "slider",
    "c25": "switch",
    "c26": "textarea",
    "c28": "navigator",
    "c29": "audio",
    "c30": "camera",
    "c31": "image",
    "c34": "video",
    "c35": "map",
    "c36": "canvas",
    "c37": "web-view",
    "c38": "ad",
    "c39": "official-account",
    "c40": "open-data",
    "n0": "app-download",
    "n1": "app-launch",
    "n2": "card",
    "n3": "contact-card",
    "n4": "coupon-card",
    "n5": "dish",
    "n6": "group-waterfall-card",
    "n7": "list-filter",
    "n8": "list-view",
    "n9": "midas-card",
    "n10": "midas-dp-deal-list",
    "n11": "midas",
    "n12": "mina_lazyload_img",
    "n13": "mina-canvas",
    "n14": "mina-image",
    "n15": "mina-toast",
    "n16": "mymini-tip",
    "n17": "nebula-star",
    "n18": "footer",
    "n19": "header",
    "n20": "nav",
    "n21": "product",
    "n22": "entry",
    "n23": "promotion-pop",
    "n24": "quick-nav",
    "n25": "rainbow",
    "n26": "report-formid",
    "n27": "review-dish",
    "n28": "review-list",
    "n29": "rich-card",
    "n30": "search-entry",
    "n31": "seed-icon",
    "n32": "seed-related-content",
    "n33": "seed-star",
    "n34": "seed-tag",
    "n35": "shop-card",
    "n36": "shop-review-tag",
    "n37": "shop-review",
    "n38": "top-parent",
    "n39": "vote-bar",
    "n40": "waterfall-view",
    "n41": "webview",
    "n42": "exception",
    "n43": "login",
    "n44": "slider-1",
    "n45": "activity-banner-component",
    "n46": "coupon-bag",
    "n47": "friends-come",
    "n48": "shop-comment",
    "n49": "shop-craftsman",
    "n50": "shop-dinevote",
    "n51": "shop-dish",
    "n52": "shop-follow",
    "n53": "shop-friendlike",
    "n54": "shop-head",
    "n55": "shop-info",
    "n56": "shop-ktv-book",
    "n57": "shop-maiton",
    "n58": "shop-map",
    "n59": "shop-operate",
    "n60": "shop-oversea-businesshours",
    "n61": "shop-promo",
    "n62": "shop-quality",
    "n63": "shop-rank",
    "n64": "shop-reserve",
    "n65": "shop-service",
    "n66": "shop-slot",
    "n67": "shop-times-card",
    "n68": "shop-tuan",
    "n69": "shop-widely-order",
    "n70": "category",
    "n71": "group",
    "n72": "guess-like",
    "n73": "index-activity",
    "n74": "index-ad",
    "n75": "index-groupseckill",
    "n76": "pop-up",
    "n77": "choosenList",
    "n78": "foodList",
    "n79": "shopCard",
    "n80": "shopItem",
    "r": "body",
    "a1": "dynamic",
    "a2": "view",
    "a3": "slot",
    "bk": "block",
    "s": "",
    "b": "",
});
var inlineFn = require("p_./npm/@mtfe/dynamic/wxs-fn.wxs")()(tags);
module.exports.inlineWxss = inlineFn.inlineWxss;
module.exports.getStyle = inlineFn.getStyle;